# Node build artifacts
node_modules
npm-debug.log
public
nginx
temp
tmp
dandrew
package-lock.json

# Local development
.DS_Store
*.env
*.dev
*.log
*.pid
*.seed
*.sh
-*
*.mwb

# Docker
Dockerfile
docker-compose.yml
