
// panel top
.panel.fixed.top

// panel mid
.panel.mid

  .ui.arrows.left
    i.ui.silver.huge.angle.left.basic.icon.reactive( data-content='Back' )

  .panel.customizer

    //include menu.vertical.jade

    include login.jade

    include sex.jade

    include character.jade

    include details.jade

    include menu.detail.type.jade

  .ui.arrows.right
    i.ui.silver.huge.angle.right.basic.icon.reactive( data-content='Next' )

// panel bottom
.panel.fixed.bottom
