
.layout-invisible.page.details.form

  .ui.attached.info.message
    i.icon.help.reactive
    | Create your character

  .ui.segment
    .image.details.layout-image.layout-centered( style='width:50%'+';'+'background-image: url();' )
