
.page.login

  .ui.form.segment

    .field
      label Username
      input.name( type='text', placeholder='Username' )

    .field
      label Password
      input.password(type='password')

    .ui.green.submit.button Join
