
.layout-invisible.page.sex

  .ui.attached.info.message
    i.icon.help.reactive
    | Please select sex?

  .ui.segment.text-centered
    .pickable.sex.male( data-content="Male character" )
      .sex.image.male
    .pickable.sex.female( data-content="Female character" )
      .sex.image.female
